*{
  box-sizing: border-box;
}
.row{
  width:100%;
}
body{
  margin: 0px; 
  background:url("../images/sky23.jpeg"); 
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
img{
	display: inline;
}
#icon{
  height: 80px;
  width:80px;
   }

h1{
  margin: 0px;
  display: inline;
  width:100%;
 text-align: left;
  font-size: 250%;
  font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
}
header{
   background-color:#00E1E1;
   padding: 10px;
}
/*all links section*/
.linkage{
	display: block;
	text-align: center;
}
.links{
  background-color: rgba(255, 255, 255);
  display: inline-block;
  width:20%;
  text-align: center;
  text-decoration: none;
  padding: 10px;
  margin:10px;
  height: 40px;
  border:2px solid black;
  border-radius: 4px;
  transition-property:border,border-radius,background-color,color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
}
.active {
    background: rgba(255, 255, 180,0.8);
    }
.links:hover,{
  border-radius: 3px;
  background-color: rgba(255, 255, 180,0.8);
  border:2px solid #1444C3;
  color: #4E0000;
}